[project]
name = "py2max"
authors = [
    {name = "Shakeeb Alireza", email = "me@org.me"},
]
version = "0.1.2"
description = "A library for offline generation of Max/MSP patcher (.maxpat) files."
readme = "README.md"
requires-python = ">=3.9"
keywords = ["Max", "maxpat", "offline"]
license = {file = "LICENSE"}
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Build Tools",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
]
dependencies = []


[dependency-groups]
dev = [
    "mypy>=1.4.1",
    "pytest>=7.4.4",
    "pytest-cov>=4.1.0",
    "ruff>=0.11.10",
]
docs = [
    "sphinx>=4.0.0",
    "sphinx-autodoc-typehints>=1.12.0",
    "sphinx-rtd-theme>=1.0.0",
    "myst-parser>=0.18.0",
]

[project.urls]
"Homepage" = "https://github.com/shakfu/py2max"

[project.scripts]
py2max = "py2max:__main__" # not yet implemented


[tool.uv]
python-preference = "only-system" # comment this out to use managed python

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

